
<div
class="h-screen bg-fixed bg-center bg-cover bg-no-repeat relative overflow-hidden"
style="background-image: url(/assets/img/background.png)"
>
  <img
      id="{{page.title | slugify}}-bg"
      src="/assets/img/backgrounds/{{page.title | slugify}}.png"
      class="w-full min-h-screen object-cover scroller absolute {{page.bg-position}}" 
      alt="hero image" 
  />

  <a href="{{ page.url | relative_url }}" class="">
    <div class="bg-black py-10 bg-opacity-70 absolute bottom-0 w-full">
      <img src="/assets/img/icons/{{page.title | slugify}}.png" class="w-auto mx-auto" alt="logo" />
    </div>
  </a>
</div>
